<div class="m-10 mb-0">
  @if (breadcrumbs$ | async; as items) {
  @if (items.length) {
  <nav class="font-neo-regular text-primary-normal flex gap-1">
    @for (item of items; track item.label; let last = $last) {
    <a [routerLink]="item.url && !last ? item.url : null" [class.cursor-pointer]="item.url && !last"
      [class.underline]="item.url && !last">
      {{ item.label | translate }}
    </a>
    @if (!last) {
    <span class="text-primary-normal">&gt;</span>
    }
    }
  </nav>
  }
  }
</div>