@if (view() === ViewMode.TABLE) {
<div class="border flex justify-between items-center bg-white text-grey-600 font-neo-sans-regular">
    <div class="flex items-center">
        <div class="border p-2 flex items-center gap-2">
            <select class="text-primary-normal" [value]="pageSize()" (change)="onPageSizeChange($event)">
                @for (size of pageSizeOptions(); track size) {
                <option [value]="size">{{ size }}</option>
                }
            </select>
            {{ 'PAGINATOR.ITEMS_PER_PAGE' | translate }}
        </div>
        <span class="border p-2">
            {{ 'PAGINATOR.PAGE' | translate }}
            {{ currentPage() }}
            {{ 'PAGINATOR.OF' | translate }}
            {{ totalPages() }}
        </span>
    </div>
    <div class="flex items-center">
        <div class="border p-2 flex items-center gap-2">
            <select class="text-primary-normal" [value]="currentPage()" (change)="goToPage($any($event.target).value)">
                @for (page of pages; track page) {
                <option [value]="page" [selected]="page === currentPage()">{{ page }}</option>
                }
            </select>
            {{ 'PAGINATOR.OF' | translate }} {{ totalPages() }}
            {{ 'PAGINATOR.PAGES' | translate }}
        </div>
        <div class="flex items-center" dir="rtl">
            <app-custom-button [style]="ButtonStyle.PAGINATOR" (click)="previousPage()"
                [isDisabled]="currentPage() === 1" [class.opacity-50]="currentPage() === 1">
                <img src="assets/imgs/right.svg" alt="previous" />
            </app-custom-button>
            <app-custom-button [style]="ButtonStyle.PAGINATOR" (click)="nextPage()"
                [isDisabled]="currentPage() === totalPages()" [class.opacity-50]="currentPage() === totalPages()">
                <img src="assets/imgs/left.svg" alt="next" />
            </app-custom-button>
        </div>
    </div>
</div>
}
@if (view() === ViewMode.CARD) {
<div class="flex justify-center p-4">
    <div class="join flex flex-wrap">
        @for (page of pages; track page) {
        <button class="join-item btn" [class.btn-active]="page === currentPage()" (click)="goToPage(page)">
            {{ page }}
        </button>
        }
    </div>
</div>
}