<div class="flex items-center justify-between p-12">
  <h2 class="text-lg font-semibold">
    {{ 'EVENTS.TITLE' | translate }}
  </h2>
  <app-custom-button [style]="ButtonStyle.VIEW" (triggerCallback)="toggleView()">
    <img
      [src]="isTableView() ? 'assets/imgs/card-view.svg' : 'assets/imgs/table-view.svg'"
      alt="view icon"
    />
  </app-custom-button>
</div>
@if (isTableView()) {
  <p>Table View</p>
} @else {
  <p>Card View</p>
}
<div class="m-10">
  @if (event$ | async; as event) {
    <app-event-details [event]="event"></app-event-details>
  }
</div>
