@let eventsList = events();
<div class="p-5 px-20">
  <div class="flex items-center justify-between pb-6">
    <h2 class="text-lg font-semibold">
      {{ 'EVENTS.TITLE' | translate }}
    </h2>
    <app-custom-button [style]="ButtonStyle.VIEW" (triggerCallback)="toggleView()">
      <img [src]="isTableView() ? 'assets/imgs/card-view.svg' : 'assets/imgs/table-view.svg'" alt="view icon" />
    </app-custom-button>
  </div>
  <hr class="border-t-2 border-gray-300 mx-auto pb-6" />
  <div class="flex items-center justify-between pb-8">
    <h2 class="text-lg font-semibold">
      {{ 'EVENTS.TOTAL' | translate }} ({{ eventsList?.length || 0 }})
    </h2>
    <app-custom-button [buttonType]="ButtonType.BUTTON" [style]="ButtonStyle.PRIMARY"
      [customClasses]="'w-auto min-w-[140px] px-6 py-3'" (triggerCallback)="goToAddEvent()">
      <span class="flex items-center justify-center gap-2">
        <img src="assets/imgs/add.svg" />
        {{ 'EVENTS.ADD' | translate }}
      </span>
    </app-custom-button>
  </div>
  @if (eventsList) {
  @if (isTableView()) {
  <app-table [data]="eventsList" [columns]="columns" (rowSelect)="onSelectEvent($event)" [loading]="loading()" />
  <app-paginator [currentPage]="currentPage()" [pageSize]="pageSize()" [totalItems]="totalItems()"
    [pageSizeOptions]="[5, 10, 20]" (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"></app-paginator>
  } @else {
  <app-card-view [events]="eventsList" (selectedEvent)="onSelectEvent($event)" />
  }
  }
</div>