<div class="dropdown w-full">
  <div tabindex="0" class="w-full cursor-pointer">
    <app-input
      [controlName]="controlName()"
      [label]="label()"
      [errors]="errors()"
      [maxLength]="maxLength()"
      [showRequiredStar]="showRequiredStar()"
      [isReadonly]="true"
      [displayValue]="displayText"
    >
      <img
        v-tail
        src="assets/imgs/arrow.svg"
        alt="arrow"
        class="transition-transform duration-200"
      />
    </app-input>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] mt-0 p-2 max-h-60 w-full overflow-auto rounded-md border border-grey-light bg-white shadow-md"
  >
    @for (option of options(); track option.value) {
      <li class="hover:bg-primary-normal/10 p-2 rounded-md" (click)="selectOption(option)">
        <a class="font-neo-regular text-primary">
          {{ getOptionLabel(option) }}
        </a>
      </li>
    }
  </ul>
</div>
