<div class="dropdown w-full" [class.dropdown-open]="isOpen">
  <div tabindex="0" class="w-full cursor-pointer" (click)="toggleDropdown($event)">
    <app-input
      [controlName]="controlName()"
      [label]="label()"
      [errors]="errors()"
      [maxLength]="maxLength()"
      [showRequiredStar]="showRequiredStar()"
      [isReadonly]="true"
      [displayValue]="displayText"
    >
      <img
        v-tail
        src="assets/imgs/arrow.svg"
        alt="arrow"
        class="transition-transform duration-200"
        [class.rotate-180]="isOpen"
      />
    </app-input>
  </div>
  @if (isOpen) {
    <ul
      class="dropdown-content z-[1] mt-0 max-h-60 w-full overflow-auto rounded-md border border-grey-light bg-white p-2 shadow-md"
    >
      @for (option of options(); track option.value) {
        <li
          class="cursor-pointer rounded-md p-2 font-neo-regular text-primary hover:bg-primary-normal/10"
          (click)="selectOption(option)"
        >
          {{ getOptionLabel(option) }}
        </li>
      }
    </ul>
  }
</div>
