<header class="bg-base-100 border-b border-base-300 shadow-sm px-4 sm:px-6">
  <div class="py-3 md:py-0 md:min-h-[74px]">
    <div class="flex items-center justify-between gap-4">
      <div class="flex items-center gap-4">
        <ng-content select="[headerLeft]"></ng-content>
      </div>
      <div class="flex items-center gap-2">
        <nav class="hidden md:block">
          <ul class="menu menu-horizontal px-0">
            @for (item of navItems(); track item.route) {
              <li>
                <a [routerLink]="item.route" [class]="TypographyStyle.TITLE2">
                  {{ item.label }}
                </a>
              </li>
            }
          </ul>
        </nav>
        <ng-content select="[headerRight]"></ng-content>
      </div>
    </div>
    <nav class="mt-2 md:hidden">
      <ul class="menu menu-horizontal w-full px-0 justify-end">
        @for (item of navItems(); track item.route) {
          <li>
            <a [routerLink]="item.route" [class]="TypographyStyle.TITLE2">
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>
</header>
