@if (toast(); as currentToast) {
  <div class="pointer-events-none fixed top-24 left-1/2 z-50 -translate-x-1/2">
    <div
      class="pointer-events-auto flex min-w-[320px] md:min-w-[420px] lg:min-w-[550px] max-w-[90vw] items-center justify-between gap-3 rounded-lg border p-2 shadow-sm"
      [ngClass]="toastClasses()"
    >
      <div class="flex items-center gap-3">
        @if (currentToast.type === 'success') {
          <img src="assets/imgs/check-circle.svg" alt="success icon" class="h-6 w-6 shrink-0" />
        }
        <p class="font-neo-regular text-lg">
          {{ currentToast.message | translate }}
        </p>
      </div>
    </div>
  </div>
}
